{# extend template #}
{% extends 'base.html' %}
{# import macro #}
{% from "macros/nav.html" import  navPathDisplay as pathNav %}
{# override meta block #}
{% block metaTag %}
    <meta name="description"
        content="Learn about Blockchain Technology and build a fantastic Decentralized Application (DApp). Learn and build your own application, made by you and for you. Learn about frameworks, server deployment, tokens, NFT, and so many exciting topics. Take the first step on this amazing journey by signing up today." />
    <meta name="keywords"
        content="UJ, UJ Blockchain, Blockchain UJ, SARChI UJ, UJ SARChI, University of Johannesburg, South Africa, Switzerland, Johannesburg, Blockchain, Bootcamp, Blockchain Bootcamp, Media, Media Event, Consensus, Smart Contracts, Governance, Decentralization, Distributed, Ledger, Technology, Distributed Ledgers, Prof Nnamdi Nwulu, Nnamdi Nwulu">
    <meta name="author" content="UJ Blockchain" />
{% endblock metaTag %}
{# Facebook meta override #}
{% block FBMeta %}
    <meta property="og:description"
        content="Learn about Blockchain Technology and build a fantastic Decentralized Application (DApp). Learn and build your own application, made by you and for you. Learn about frameworks, server deployment, tokens, NFT, and so many exciting topics. Take the first step on this amazing journey by signing up today.">
{% endblock FBMeta %}
{% block FBMetaLink %}
    <meta property="og:url"
        content="https://blockchain.uj.ac.za/bootcamp/registration">
{% endblock FBMetaLink %}
{# twitter meta override #}
{% block TwitterMeta %}
    <meta name="twitter:description"
        content="Learn about Blockchain Technology and build a fantastic Decentralized Application (DApp). Learn and build your own application, made by you and for you. Learn about frameworks, server deployment, tokens, NFT, and so many exciting topics. Take the first step on this amazing journey by signing up today.">
{% endblock TwitterMeta %}
{% block TwitterMetaImage %}
    <meta name="twitter:image:alt"
        content="UJ Blockchain Logo. Learn about Blockchain Technology and build a fantastic Decentralized Application (DApp). Learn and build your own application, made by you and for you. Learn about frameworks, server deployment, tokens, NFT, and so many exciting topics. Take the first step on this amazing journey by signing up today.">
{% endblock TwitterMetaImage %}
{# override head block#}
{% block head %}
    {{ pathNav() }}
{% endblock head %}
{# override footer block#}
{% block footer %}
{% endblock footer %}
{# extra css style #}
{% block extraStyle %}
    <link rel="stylesheet" href="{{ static ('css/animate.css') }}">
    <style>
        .form-select:focus {
            border-color: rgba(255, 255, 255, 0.05);
            outline: none;
            box-shadow: none;
        }

        select>option {
            background: rgba(255, 255, 255, 0.05) !important;
            color: #61757a !important;
        }
        select#id_gender, select#id_level, select#id_nationality, select#id_session, select#id_can_you_code{
            height: 49px;
        }
        .btn_ajax {
            background: #F26422;
            color: #fff;
        }
    </style>
{% endblock extraStyle %}
{# override header intro #}
{% block headIntro %}
    <section class="simple-head" data-stellar-background-ratio="0.5">
        <!-- Particles -->
        <div id="particles-js"></div>
        <div class="position-center-center">
            <div class="container text-center">
                <h1>Demystifying Blockchain Bootcamp</h1>
                <p>
                    Learn about Blockchain Technology and build a fantastic Decentralized Application (DApp).
                    Learn from scratch as we take you from the basics to creating your own application,
                    made by you and for you. Learn about frameworks, Hedera Blockchain, and
                    so many exciting topics. Take the first step on this amazing journey by signing up today.
                </p>
                <a href="#bootcamp" class="btn">Signup For Bootcamp</a> <a href="/#about" class="btn btn-inverse">Learn More About Us</a>
            </div>
        </div>
    </section>
{% endblock headIntro %}
{# override content block #}
{% block content %}
    <!-- Content -->
    <div id="content">
        <section id="bootcamp" class="distri drk padding-top-150 padding-bottom-150">
            <div class="container">
                <div class="contact">
                    <h6>Signup for the Demystifying Blockchain Bootcamp (Tuesday, April 2nd - Friday,  5th April 2024)</h6>
                    <!-- Success Msg -->
                    <div id="contact_message" class="success-msg">
                        <i class="fa fa-paper-plane-o"></i>Thank You.
                        Your
                        Application has been Submitted
                    </div>
                    <!-- FORM -->
                    <form role="form" id="contact_form" class="contact-form">
                        {# csrf #}
                        {{ csrf_input }}
                        <ul class="row nolist-style">
                            <li class="col-sm-4">
                                <label>
                                    {{ training_form.first_name }}
                                    <p id="error-first_name"
                                       class="error-info"
                                       style="color: #ef9a9a;
                                              text-transform: capitalize;
                                              display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    {{ training_form.last_name }}
                                    <p id="error-last_name"
                                       class="error-info"
                                       style="color: #ef9a9a;
                                              text-transform: capitalize;
                                              display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    {{ training_form.gender }}
                                    <p id="error-gender"
                                       class="error-info"
                                       style="color: #ef9a9a;
                                              text-transform: capitalize;
                                              display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    {{ training_form.email }}
                                    <p id="error-email"
                                       class="error-info"
                                       style="color: #ef9a9a;
                                              text-transform: capitalize;
                                              display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    {{ training_form.faculty }}
                                    <p id="error-faculty"
                                       class="error-info"
                                       style="color: #ef9a9a;
                                              text-transform: capitalize;
                                              display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    {{ training_form.department }}
                                    <p id="error-department"
                                       class="error-info"
                                       style="color: #ef9a9a;
                                              text-transform: capitalize;
                                              display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    {{ training_form.level }}
                                    <p id="error-level"
                                       class="error-info"
                                       style="color: #ef9a9a;
                                              text-transform: capitalize;
                                              display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    {{ training_form.student_number }}
                                    <p id="error-student_number"
                                       class="error-info"
                                       style="color: #ef9a9a;
                                              text-transform: capitalize;
                                              display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    {{ training_form.nationality }}
                                    <p id="error-nationality"
                                       class="error-info"
                                       style="color: #ef9a9a;
                                              text-transform: capitalize;
                                              display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <label>
                                    {{ training_form.phone_number }}
                                    <p id="error-phone_number"
                                       class="error-info"
                                       style="color: #ef9a9a;
                                              text-transform: capitalize;
                                              display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <label>
                                    {{ training_form.session }}
                                    <p id="error-session"
                                       class="error-info"
                                       style="color: #ef9a9a;
                                              text-transform: capitalize;
                                              display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-6" style="display: none;">
                                <label>
                                    {{ training_form.can_you_code }}
                                    <p id="error-can_you_code"
                                        class="error-info"
                                        style="color: #ef9a9a;
                                                text-transform: capitalize;
                                                display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-6" style="display: none;">
                                <label>
                                    {{ training_form.repo_link }}
                                    <p id="error-repo_link"
                                        class="error-info"
                                        style="color: #ef9a9a;
                                                text-transform: capitalize;
                                                display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <label>
                                    {{ training_form.expectation }}
                                    <p id="error-expectation"
                                       class="error-info"
                                       style="color: #ef9a9a;
                                              text-transform: capitalize;
                                              display: none"></p>
                                </label>
                            </li>
                            <li class="col-sm-12 text-left">
                                <button type="submit" class="btn btn-inverse" value="submit" id="btn_submit">SUBMIT</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </section>
        <!-- Join our community -->
        {% include "partials/pages/__community.html" %}
    </div>
{% endblock content %}
{% block script %}
    <script src="{{ static('js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ static('js/bootstrap.bundle.js') }}"></script>
    <script src="{{ static('js/particles.min.js') }}"></script>
    <script src="{{ static('js/jquery.counterup.min.js') }}"></script>
    <script src="{{ static('js/jquery.magnific-popup.min.js') }}"></script>
{% endblock script %}
{# external scripts from pages #}
{% block extraScript %}
    <script src="{{ static('js/ajax-form.js') }}"></script>
    <script>
        // control message show interval
        setInterval(() => {
          message = document.querySelector('#contact_message')
            //check message exist
            if(message){
                message.style.display = 'none';
            }
        }, 12000)
    </script>
{% endblock extraScript %}
