{% block errorContent %}
    <!-- Wrap -->
    <div id="wrap">
        <!-- header -->
        {% include "seconday-partials/__header.html" %}
        <!-- HOME MAIN  -->
        <section class="simple-head" data-stellar-background-ratio="0.5" id="hme">
            <!-- Particles -->
            <div id="particles-js"></div>
            <div class="position-center-center">
                <div class="container text-center">
                    <h1>User Account Locked</h1>
                    <p>
                        We noticed inconsitenssies with your account login, as a result your
                        account has been tempoarily locked. Kindly feel free to contact
                        support at blockchain@uj.ac.za for more details.
                    </p>
                    <a href="/" class="btn">Home</a>
                    <a href="#." class="btn btn-inverse">View White Paper</a>
                </div>
            </div>
        </section>
    </div>
{% endblock errorContent %}
