form.bg-white.p-3.shadow-1 {
    background: transparent;
    font-size: 15px;
}

form.bg-white.p-3.shadow-1 fieldset {
    margin-top: 20px;
}

form.bg-white.p-3.shadow-1 .submit-row {
    margin-top: 30px;
}

.inline:nth-child(2) {
    display: none !important;
    visibility: hidden;
}

.inline {
    margin: auto;
}

a.flex.h-16.items-center.p-2 {
    margin-bottom: 30px;
}

#qrcode img {
    width: 500px !important;
    margin: auto;
}

.object-tools li,
.submit-row input {
    height: 2rem;
    min-height: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    --tw-text-opacity: 1;
    color: var(--fallback-pc, oklch(var(--pc) / var(--tw-text-opacity)));
    outline-color: var(--fallback-p, oklch(var(--p) / 1));
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded-btn, 0.5rem);
    border-color: oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    line-height: 1em;
    gap: 0.5rem;
    font-weight: 600;
    text-decoration-line: none;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    border-width: var(--border-btn, 1px);
    transition-property: color, background-color, border-color, opacity,
        box-shadow, transform;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: lightgreen;
    --tw-bg-opacity: 1;
    --tw-border-opacity: 1;
}
