{# extend template #}
{% extends 'base.html' %}

{# override header intro #}
{% block headIntro %}
  <section class="simple-head" data-stellar-background-ratio="0.5" id="hme"> 
    <!-- Particles -->
    <div id="particles-js"></div>
    <div class="position-center-center">
      <div class="container text-center">
        <h1>What is blockchain </h1>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
        <a href="#." class="btn">Join Us</a> <a href="#." class="btn btn-inverse">View White Paper</a> </div>
    </div>
  </section>
{% endblock headIntro %}


{# override content block #}
{% block content %}

  <!-- Content -->
  <div id="content"> 
    
    <!-- Why Choose Us -->
    <section class="why-choose padding-top-150 padding-bottom-150" id="about">
      <div class="container"> 
        
        <!-- Why Choose Us  ROW-->
        <div class="row">
          <div class="col-md-7 margin-top-60"> 
            
            <!-- Tittle -->
            <div class="heading margin-bottom-20">
              <h6 class="margin-bottom-10">The world’s only enterprise blockchain solution</h6>
              <h4>Best Blockchain &amp; Better Than Any Blockchain</h4>
            </div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            <p>Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            <div class="ultra-ser"> <span><span class="name"> Webicode &nbsp; - &nbsp;</span> <span>Ceo/Founder Chain</span></span> </div>
            <a class="vid-btn margin-top-30 popup-youtube" href="https://www.youtube.com/watch?v=7e90gBu4pas"><i class="fas fa-play-circle"></i> Watch Video <br>
            <span>How it work</span></a> </div>
          
          <!-- Image -->
          <div class="col-md-5 text-right"> <img src="images/chain-img.png" alt="Why Choose Us Image" > </div>
        </div>
        
        <!-- Services ROW -->
        <div class="row"> 
          
          <!-- Services -->
          <div class="col-md-4">
            <div class="ib-icon"> <i class="flaticon-smartphone"></i> </div>
            <div class="ib-info">
              <h4 class="h6">Peer-to-Peer Transactions</h4>
              <p>Contrary to popular belief , Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>
          </div>
          
          <!-- Services -->
          <div class="col-md-4">
            <div class="ib-icon"> <i class="flaticon-flat-world-map"></i> </div>
            <div class="ib-info">
              <h4 class="h6">Borderless Payments</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem not simply random accusantium</p>
            </div>
          </div>
          
          <!-- Services -->
          <div class="col-md-4">
            <div class="ib-icon"> <i class="flaticon-secure-shield"></i> </div>
            <div class="ib-info">
              <h4 class="h6">Fully Protection</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>
          </div>
          
          <!-- Services -->
          <div class="col-md-4">
            <div class="ib-icon"> <i class="flaticon-credit-card"></i> </div>
            <div class="ib-info">
              <h4 class="h6">Smart </h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
            </div>
          </div>
          
          <!-- Services -->
          <div class="col-md-4">
            <div class="ib-icon"> <i class="flaticon-wallet"></i> </div>
            <div class="ib-info">
              <h4 class="h6">Secure</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>
          </div>
          
          <!-- Services -->
          <div class="col-md-4">
            <div class="ib-icon"> <i class="flaticon-money"></i> </div>
            <div class="ib-info">
              <h4 class="h6">Easy To ...</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Token Distribution -->
    <section class="distri drk padding-top-150 padding-bottom-150 " id="token">
      <div class="container">
        <div class="row"> 
          
          <!-- Token  -->
          <div class="col-lg-7">
            <h3>Token Distribution</h3>
            <p>Contrary to popular belief , Lorem Ipsum is not simply random text. It has roots in a piece.</p>
            
            <!-- Progress -->
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="150"><span>9,000,000 <small>50%</small></span> </div>
            </div>
            <div class="row">
              <div class="col">
                <h6> Now Distribution</h6>
                <span>2,000,000</span> </div>
              <div class="col">
                <h6> 99,910</h6>
                <span>...</span> </div>
              <div class="col">
                <h6> 99,910</h6>
                <span>...</span> </div>
            </div>
            
            <!-- CountdownEnd -->
            <div class="countdown">
              <h6>Current Distribution Section End  150/350</h6>
              <!-- Countdown-->
              <ul class="row">
                <!-- Days -->
                <li class="col-md-3">
                  <article> <span class="days">00</span>
                    <p class="days_ref">Days</p>
                  </article>
                </li>
                <!-- Hours -->
                <li class="col-md-3">
                  <article> <span class="hours">00</span>
                    <p class="hours_ref">Hours</p>
                  </article>
                </li>
                <!-- Mintes -->
                <li class="col-md-3">
                  <article><span class="minutes">00</span>
                    <p class="minutes_ref">Minutes</p>
                  </article>
                </li>
                <!-- Seconds -->
                <li class="col-md-3">
                  <article><span class="seconds">00</span>
                    <p class="seconds_ref">Seconds</p>
                  </article>
                </li>
              </ul>
            </div>
          </div>
          
          <!-- Total Distribution -->
          <div class="col-lg-5">
            <h3>Total Distribution Section End <b>350/350</b></h3>
            <p>Project will be released on the basis of platform.</p>
            <div class="countdown-all"> 
              
              <!-- Countdown -->
              <ul class="row">
                <!-- Days -->
                <li class="col-md-3">
                  <article> <span class="days">00</span>
                    <p class="days_ref">Days</p>
                  </article>
                </li>
                <!-- Hours -->
                <li class="col-md-3">
                  <article> <span class="hours">00</span>
                    <p class="hours_ref">Hours</p>
                  </article>
                </li>
                <!-- Mintes -->
                <li class="col-md-3">
                  <article><span class="minutes">00</span>
                    <p class="minutes_ref">Minutes</p>
                  </article>
                </li>
                <!-- Seconds -->
                <li class="col-md-3">
                  <article><span class="seconds">00</span>
                    <p class="seconds_ref">Seconds</p>
                  </article>
                </li>
              </ul>
              <a href="#." class="btn">Join Us</a> <a href="#." class="btn btn-inverse">Buy Now</a> 
              
              <!-- Buy Option -->
              <div class="card-info"> <i class="fab  fa-bitcoin"></i> <i class="fab  fa-cc-discover"></i> <i class="fab  fa-cc-visa"></i> <i class="fab  fa-cc-mastercard"></i> </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Development -->
    <section class="dev-activ text-center padding-top-150 padding-bottom-150" id="activity">
      <div class="container">
        <div class="sm-intro">
          <h2>Development Activity</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac, cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
        </div>
        <ul class="row margin-top-50 margin-bottom-50">
          <li class="col"> <i class="flaticon-rotate"></i> <span><span class="counter">4</span> hrs Ago</span>
            <p>Last Update</p>
          </li>
          <li class="col"><i class="flaticon-building"></i> <span><span class="counter">10</span> Days Ago</span>
            <p>Last Block Found</p>
          </li>
          <li class="col"><i class="flaticon-money-1"></i> <span><span class="counter">45057</span>+</span>
            <p>Contributions</p>
          </li>
          <li class="col"><i class="flaticon-team"></i> <span  class="counter">80</span>
            <p>Team Members</p>
          </li>
        </ul>
        <a href="#." class="btn">Start on GitHub</a> <a href="#." class="btn btn-inverse">White Paper</a> </div>
    </section>
    
    <!-- ABOUT -->
    <section class="about light-bg"> 
      <!-- Right Background -->
      <div class="main-page-section half_left_layout">
        <div class="main-half-layout half_right_layout"> </div>
        
        <!-- Left Content -->
        <div class="main-half-layout-container half_right_layout">
          <div class="about-us-con">
            <h3>Growing Global Network</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac, cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
            <ul class="count-info row">
              <li class="col"> <span class="counter">5000</span><span>+</span>
                <p>Customers</p>
              </li>
              <li class="col"> <span class="counter">750</span><span>+</span>
                <p>Deploying</p>
              </li>
            </ul>
            <a href="#." class="btn">White Paper</a> <a href="#." class="btn btn-inverse">Find</a> </div>
        </div>
      </div>
    </section>

    <!-- Join our community -->
    {% include "partials/pages/__community.html" %}
  </div>
  
{% endblock content %}

