<section class="about light-bg">
    <!-- Right Background -->
    <div class="main-page-section half_left_layout">
        <div class="main-half-layout half_right_layout"> </div>

        <!-- Left Content -->
        <div class="main-half-layout-container half_right_layout">
            <div class="about-us-con">
                <h3>Growing Global Network</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra
                    ac, cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
                <ul class="count-info row">
                    <li class="col"> <span class="counter">5000</span><span>+</span>
                        <p>Customers</p>
                    </li>
                    <li class="col"> <span class="counter">750</span><span>+</span>
                        <p>Deploying</p>
                    </li>
                </ul>
                <a href="#." class="btn">White Paper</a> <a href="#." class="btn btn-inverse">Find an Exchange</a>
            </div>
        </div>
    </div>
</section>