<section class="about light-bg">
    <!-- Right Background -->
    <div class="main-page-section half_left_layout">
        <div class="main-half-layout half_right_layout"> </div>

        <!-- Left Content -->
        <div class="main-half-layout-container half_right_layout">
            <div class="about-us-con">
                <h3>Growing Project Repositories</h3>
                <p>We are regularly updating and adding new repositories aimed at
                     offering guidance and clarity on blockchain integration and use cases. </p>
                <ul class="count-info row">
                    <li class="col"> <span class="counter">2</span><span>+</span>
                        <p>REPO</p>
                    </li>
                    <li class="col"> <span class="counter">75</span><span>+</span>
                        <p>Commits</p>
                    </li>
                </ul>
                <a href="https://github.com/ujblockchain" class="btn" target="_blank">Repository</a> <a href="https://scholar.google.gr/citations?user=CzQ1lyYAAAAJ&hl=en" class="btn btn-inverse" target="_blank">Research</a>
            </div>
        </div>
    </div>
</section>