<div class="row">
    <div class="col-md-7 margin-top-60"> 
      
      <!-- Tittle -->
      <div class="heading margin-bottom-20">
        <h6 class="margin-bottom-10">The world’s only enterprise blockchain solution for global payments</h6>
        <h4>Best Blockchain &amp; Better Than Any Blockchain</h4>
      </div>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      <p>Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      <div class="ultra-ser"> <span><span class="name"> Webicode &nbsp; - &nbsp;</span> <span>Ceo/Founder Chain</span></span> </div>
      <a class="vid-btn margin-top-30 popup-youtube" href="https://www.youtube.com/watch?v=7e90gBu4pas"><i class="fas fa-play-circle"></i> Watch Video <br>
      <span>How it work</span></a> </div>
    
    <!-- Image -->
    <div class="col-md-5 text-right"> <img src="{{ static('images/chain-img.png') }}" alt="Why Choose Us Image" > </div>
  </div>