<div class="row">
    <div class="col-md-7 margin-top-60"> 
      
      <!-- Tittle -->
      <div class="heading margin-bottom-20">
        <h6 class="margin-bottom-10">South Africa - Switzerland Bilateral Research Chair in Blockchain Technology</h6>
        <h4>Build, Test, &amp; Deploy Real World DApps</h4>
      </div>

      <p>The South Africa-Swiss Bilateral Research Chair in Blockchain Technology is to explore advantages and barriers for integrating blockchain technology in supply chains management. </p>
      <p>Two different focus areas of implementation are envisioned within the import/export of goods in South Africa and Switzerland, namely the agri-food and drugs/medical devices supply chains</p>
      <div class="ultra-ser"> <span><span class="name"> Chairholder &nbsp; - &nbsp;</span> <span>Prof Nnamdi Nwulu</span></span> </div>
      <a class="vid-btn margin-top-30 popup-youtube" href="https://www.youtube.com/watch?v=DD2pexzjWps"><i class="fas fa-play-circle"></i> Watch Video <br>
      <span>Blockchain</span></a> </div>
    
    <!-- Image -->
    <div class="col-md-5 text-right"> <img src="{{ static('images/main-logo.png') }}" alt="Why Choose Us Image" id="logo-img" > </div>
  </div>