<section id="newsletter" class="community-sec padding-top-150 padding-bottom-150">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="sm-intro">
                    <h2>Join our community</h2>
                    
                    <ul class="socials">
                        <li><a href="https://www.facebook.com/sa.swiss.blockchain" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/research31961" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://github.com/ujblockchain" target="_blank"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.instagram.com/p/CxDRQLet3tK/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/feed/update/urn:li:activity:7106976648419303425" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#." target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://www.reddit.com/user/SA-Swiss-Blockchain" target="_blank"><i class="fab fa-reddit"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="news-letter">
                    <h2>Subscribe to our newsletter</h2>
                        <!-- Form  Msg -->
                    {% for message in messages if messages %}
                    {# display form #}
                    <div id="contact_message" class="success-msg form_message" style="display: inline-block;">
                        {# icon color check#}
                        {% if message.level_tag == 'success' %}
                            <i class="fa fa-paper-plane-o" style="border: 1px solid #ABD0A8;"></i>
                            {# display message #}
                            {{message.message}}
                        {% else %}
                            <i class="fa fa-paper-plane-o" style="border: 1px solid #ef9a9a;"></i>
                            {# display error message #}
                            {{message.message}}
                        {% endif %}
                    </div>
                    {% endfor %}

                    <form method="post"  action="{{ url('newsletter_signup') }}">
                        {{ csrf_input }}
                        {{newsletter_form.email}}
                        <button type="submit">SEND</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>