<section id="newsletter" class="community-sec padding-top-150 padding-bottom-150">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="sm-intro">
                    <h2>Join our community</h2>
                    <ul class="socials">
                        <li><a href="#."><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#."><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#."><i class="fab fa-github"></i></a></li>
                        <li><a href="#."><i class="fab fa-telegram"></i></a></li>
                        <li><a href="#."><i class="fab fa-gitter"></i></a></li>
                        <li><a href="#."><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#."><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#."><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="news-letter">
                    <h2>Subscribe to our newsletter</h2>
                    <form>
                        <input type="email" placeholder="Enter your email address" required>
                        <button type="submit">SEND</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>