<section class="dev-activ text-center padding-top-150 padding-bottom-150" id="activity">
    <div class="container">
        <div class="sm-intro">
            <h2>Development Activity</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac,
                cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
        </div>
        <ul class="row margin-top-50 margin-bottom-50">
            <li class="col"> <i class="flaticon-rotate"></i> <span><span class="counter">4</span> hrs Ago</span>
                <p>Last Update</p>
            </li>
            <li class="col"><i class="flaticon-building"></i> <span><span class="counter">10</span> Days Ago</span>
                <p>Last Block Found</p>
            </li>
            <li class="col"><i class="flaticon-money-1"></i> <span><span class="counter">45057</span>+</span>
                <p>Contributions</p>
            </li>
            <li class="col"><i class="flaticon-team"></i> <span class="counter">80</span>
                <p>Team Members</p>
            </li>
        </ul>
        <a href="#." class="btn">Start on GitHub</a> <a href="#." class="btn btn-inverse">White Paper</a>
    </div>
</section>