<section class="light-bg padding-top-150 padding-bottom-150" id="faq">
    <div class="container">
        <div class="heading text-center">
            <h2>Frequently asked questions</h2>
            <p>
                Learn more about UJ Blockchain and its role in explore advantages and barriers for integrating blockchain technology in Agri-Food
            </p>
        </div>
        <!-- FAQS -->
        <div class="row">
            <div class="col-md-6">
                <!-- According Style 1 -->
                <div class="panel-group accordion" id="accordion">
                    <!-- According 1 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapseOne"
                                   class="collapsed">What is SARCHI ?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                The South African Research Chairs Initiative (SARChI) was established in 2006 by the Department
                                of Science and Technology (DST) and the National Research Foundation (NRF). It is designed to
                                attract and retain excellence in research and innovation at South African public universities
                                through the establishment of Research Chairs at public universities in South Africa with a
                                long-term investment trajectory of up to fifteen years
                                <br>
                                <br>
                                Source: NRF, www.nrf.ac.za; 2023.
                            </div>
                        </div>
                    </div>
                    <!-- According 2 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapseTwo"
                                   class="collapsed">Why SARCHI</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                The main goal of SARCHI is to strengthen and improve research and innovation
                                capacity of public universities for producing high quality postgraduate students and
                                research and innovation outputs.
                                <br>
                                <br>
                                Source: NRF, www.nrf.ac.za; 2023.
                            </div>
                        </div>
                    </div>
                    <!-- According 3 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapseThree"
                                   class="collapsed"> South Africa-Swiss Bilateral Research Chair in Blockchain Technology</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                The South Africa-Swiss Bilateral Research Chair in Blockchain Technology is
                                research collaboration under the leadership of Professor Nnamdi Nwulu (UJ) and Dr Luca Mazzola (co-Principal Investigator
                                – Hochschule Luzern, Switzerland) aimed at exploring the advantages and barriers for
                                integrating blockchain technology in supply chains management.
                                <br>
                                <br>
                                Source: UJ, news.uj.ac.za; 2023.
                            </div>
                        </div>
                    </div>
                    <!-- According 4 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapsefour"
                                   class="collapsed">Focus of SA-Swiss Blockchain Bilateral Research Chair</a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Two different focus areas of implementation are envisioned within the import/export of goods in South Africa and Switzerland,
                                namely the agri-food and drugs/medical devices supply chains.
                                <br>
                                <br>
                                Source: UJ, news.uj.ac.za; 2023.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- According Style 1 -->
                <div class="panel-group accordion" id="accordion">
                    <!-- According 1 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapseOne-1"
                                   class="collapsed">Our Mission</a>
                            </h4>
                        </div>
                        <div id="collapseOne-1" class="panel-collapse collapse">
                            <div class="panel-body">
                                We aim to propagate the gospel of blockchain while building real world solutions in Agri-Food.
                            </div>
                        </div>
                    </div>
                    <!-- According 2 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapseTwo-1"
                                   class="collapsed">Our Bootcamps</a>
                            </h4>
                        </div>
                        <div id="collapseTwo-1" class="panel-collapse collapse">
                            <div class="panel-body">
                                We organize Bootcamps twice a year aimed at increasing capacity building in the real-world application of blockchain.
                            </div>
                        </div>
                    </div>
                    <!-- According 3 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapseThree-1"
                                   class="collapsed">Open Source Repository</a>
                            </h4>
                        </div>
                        <div id="collapseThree-1" class="panel-collapse collapse">
                            <div class="panel-body">
                                We regularly update and add new open-source repositories on
                                Github (<a href="https://github.com/ujblockchain" style="color: #F26422;">UJ Blockchain</a>)
                                aimed at offering guidance and clarity on blockchain integration and use cases.
                            </div>
                        </div>
                    </div>
                    <!-- According 4 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapsefour-1"
                                   class="collapsed">How to become a Partner</a>
                            </h4>
                        </div>
                        <div id="collapsefour-1" class="panel-collapse collapse">
                            <div class="panel-body">
                                We are always eager to explore new partnerships and collaborations
                                aimed at expanding your reach and audience. We are just an email away from your
                                dream's ideal partnership or collaboration.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
