<section class="light-bg padding-top-150 padding-bottom-150" id="team">
    <div class="container">
        <div class="heading text-center">
            <h2>Frequently asked questions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac,
                cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
        </div>
        <!-- FAQS -->
        <div class="row">
            <div class="col-md-6">

                <!-- According Style 1 -->
                <div class="panel-group accordion" id="accordion">

                    <!-- According 1 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseOne" class="collapsed"> What is SARCHI ?</a> </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered alteration in some Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac, cursus sed sapien.
                                Cras posuere ligula ut blandit varius. </div>
                        </div>
                    </div>

                    <!-- According 2 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseTwo" class="collapsed"> Why SARCHI</a> </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered alteration in some </div>
                        </div>
                    </div>

                    <!-- According 3 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseThree" class="collapsed"> South Africa-Swiss Bilateral Research Chair in Blockchain Technology</a> </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered alteration in some </div>
                        </div>
                    </div>

                    <!-- According 4 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                    href="#collapsefour" class="collapsed"> Focus of SA-Swiss Blockchain Bilateral Research Chair</a> </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered alteration in some </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <!-- According Style 1 -->
                <div class="panel-group accordion" id="accordion">

                    <!-- According 1 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseOne-1" class="collapsed"> Our Mission</a> </h4>
                        </div>
                        <div id="collapseOne-1" class="panel-collapse collapse">
                            <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered alteration in some </div>
                        </div>
                    </div>

                    <!-- According 2 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseTwo-1" class="collapsed"> Our Bootcamps</a> </h4>
                        </div>
                        <div id="collapseTwo-1" class="panel-collapse collapse">
                            <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered alteration in some </div>
                        </div>
                    </div>

                    <!-- According 3 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseThree-1" class="collapsed"> Open Source Repository</a> </h4>
                        </div>
                        <div id="collapseThree-1" class="panel-collapse collapse">
                            <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered alteration in some </div>
                        </div>
                    </div>

                    <!-- According 4 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                    href="#collapsefour-1" class="collapsed"> How to become a Partner</a> </h4>
                        </div>
                        <div id="collapsefour-1" class="panel-collapse collapse">
                            <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered alteration in some </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>