<section class="distri drk padding-top-150 padding-bottom-150 " id="token">
    <div class="container">
        <div class="row">

            <!-- Token  -->
            <div class="col-lg-7">
                <h3>Distribution</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac,
                    cursus sed sapien. Cras posuere ligula ut blandit varius.
                </p>

                <!-- Progress -->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="150"><span>9,000,000 <small>50%</small></span> </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6> Now Distribution</h6>
                        <span>2,000,000</span>
                    </div>
                    <div class="col">
                        <h6> 99,910</h6>
                        <span>...</span>
                    </div>
                    <div class="col">
                        <h6> 99,910</h6>
                        <span>...</span>
                    </div>
                </div>

                <!-- CountdownEnd -->
                <div class="countdown">
                    <h6>Current Distribution Section End 150/350</h6>
                    <!-- Countdown-->
                    <ul class="row">
                        <!-- Days -->
                        <li class="col-md-3">
                            <article> <span class="days">00</span>
                                <p class="days_ref">Days</p>
                            </article>
                        </li>
                        <!-- Hours -->
                        <li class="col-md-3">
                            <article> <span class="hours">00</span>
                                <p class="hours_ref">Hours</p>
                            </article>
                        </li>
                        <!-- Mintes -->
                        <li class="col-md-3">
                            <article><span class="minutes">00</span>
                                <p class="minutes_ref">Minutes</p>
                            </article>
                        </li>
                        <!-- Seconds -->
                        <li class="col-md-3">
                            <article><span class="seconds">00</span>
                                <p class="seconds_ref">Seconds</p>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Total Distribution -->
            <div class="col-lg-5">
                <h3>Total Distribution Section End <b>350/350</b></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elits..</p>
                <div class="countdown-all">

                    <!-- Countdown -->
                    <ul class="row">
                        <!-- Days -->
                        <li class="col-md-3">
                            <article> <span class="days">00</span>
                                <p class="days_ref">Days</p>
                            </article>
                        </li>
                        <!-- Hours -->
                        <li class="col-md-3">
                            <article> <span class="hours">00</span>
                                <p class="hours_ref">Hours</p>
                            </article>
                        </li>
                        <!-- Mintes -->
                        <li class="col-md-3">
                            <article><span class="minutes">00</span>
                                <p class="minutes_ref">Minutes</p>
                            </article>
                        </li>
                        <!-- Seconds -->
                        <li class="col-md-3">
                            <article><span class="seconds">00</span>
                                <p class="seconds_ref">Seconds</p>
                            </article>
                        </li>
                    </ul>
                    <a href="#." class="btn">Join Us</a> <a href="#." class="btn btn-inverse">Buy Now</a>

                    <!-- Buy Option -->
                    <div class="card-info"> <i class="fab  fa-bitcoin"></i> <i class="fab  fa-cc-discover"></i> <i
                            class="fab  fa-cc-visa"></i> <i class="fab  fa-cc-mastercard"></i> </div>
                </div>
            </div>
        </div>
    </div>
</section>