<section class="distri drk padding-top-150 padding-bottom-150 " id="project">
    <div class="container">
        <div class="row">

            <!-- Token  -->
            <div class="col-lg-7">
                <h3>FoodTrolley</h3>
                <p>We are utilizing the power of blockchain to build real world solution on Agri-Food Waste. </p>

                <!-- Progress -->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="30"><span> Private Commit: 100 <small>40%</small></span> </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6>  Total Distribution</h6>
                        <span>2050</span>
                    </div>
                    <div class="col">
                        <h6> 2000</h6>
                        <span>Lines of Code</span>
                    </div>
                    <div class="col">
                        <h6> 90</h6>
                        <span>Hours</span>
                    </div>
                </div>

                <!-- CountdownEnd -->
                <div class="countdown">
                    <h6>Current Distribution Section 48/120</h6>
                    <!-- Countdown-->
                    <ul class="row">
                        <!-- Days -->
                        <li class="col-md-3">
                            <article> <span class="days"></span>
                                <p class="days_ref">Days</p>
                            </article>
                        </li>
                        <!-- Hours -->
                        <li class="col-md-3">
                            <article> <span class="hours"></span>
                                <p class="hours_ref">Hours</p>
                            </article>
                        </li>
                        <!-- Mintes -->
                        <li class="col-md-3">
                            <article><span class="minutes"></span>
                                <p class="minutes_ref">Minutes</p>
                            </article>
                        </li>
                        <!-- Seconds -->
                        <li class="col-md-3">
                            <article><span class="seconds"></span>
                                <p class="seconds_ref">Seconds</p>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Total Distribution -->
            <div class="col-lg-5">
                <h3>Total Distribution Section End <b>80/350</b></h3>
                <p>FoodTrolley comprises of three(3) distribution cycle, each totally 120.</p>
                <div class="countdown-all">

                    <!-- Countdown -->
                    <ul class="row">
                        <!-- Days -->
                        <li class="col-md-3">
                            <article> <span class="days"></span>
                                <p class="days_ref">Days</p>
                            </article>
                        </li>
                        <!-- Hours -->
                        <li class="col-md-3">
                            <article> <span class="hours"></span>
                                <p class="hours_ref">Hours</p>
                            </article>
                        </li>
                        <!-- Mintes -->
                        <li class="col-md-3">
                            <article><span class="minutes"></span>
                                <p class="minutes_ref">Minutes</p>
                            </article>
                        </li>
                        <!-- Seconds -->
                        <li class="col-md-3">
                            <article><span class="seconds"></span>
                                <p class="seconds_ref">Seconds</p>
                            </article>
                        </li>
                    </ul>
                    <a href="https://github.com/ujblockchain" class="btn" target="_blank">Repository</a> <a href="https://scholar.google.gr/citations?user=CzQ1lyYAAAAJ&hl=en" class="btn btn-inverse" target="_blank">Research</a>
                </div>
            </div>
        </div>
    </div>
</section>