<section class="road-map padding-top-150 padding-bottom-50" id="roadmap">
    <div class="container-fluid">
        <h2>Our Main Road Map</h2>
        <p>We are constantly testing different iterations; our planned roadmaps reflect our current 
            iterations but may be subject to change as our development cycle evolves. </p>

        <!-- Road List -->
        <ul class="edu-list margin-top-50">

            <!-- September 2023 -->
            <li> <span>September 2023</span>
                <h5>September Road Map</h5>
                <p>Blockchain Bootcamp & Community Engagement</p>
            </li>
            
            <!-- October 2023 -->
            <li> <span>October 2023</span>
                <h5>October Road Map</h5>
                <p>Blockchain Media Event, Hackathon, & Community Engagement</p>
            </li>
            <!-- November 2023 -->
            <li> <span>November 2023</span>
                <h5>November Road Map</h5>
                <p>FoodTrolley DApp Development and Community Engagement</p>
            </li>
            <!-- December 2023 -->
            <li> <span>December 2023</span>
                <h5>December Road Map</h5>
                <p>FoodTrolley DApp Development</p>
            </li>

            <!-- January 2024 -->
            <li> <span>January 2024</span>
                <h5>January Road Map</h5>
                <p>FoodTrolley DApp Development & AgroMap Mockup Design</p>
            </li>
            <!-- Febuary 2024 -->
            <li> <span>Febuary 2024</span>
                <h5>Febuary Road Map</h5>
                <p>Launch for FoodTrolley and AgroMap Frontend Development</p>
            </li>
            <!-- March 2024 -->
            <li> <span>March 2024</span>
                <h5>March Road Map</h5>
                <p>Bootcamp & Community Engagement</p>
            </li>
            <!-- April 2024 -->
            <li> <span>April 2024</span>
                <h5>April Road Map</h5>
                <p>Launch for AgroMap & Community Engagement</p>
            </li>
            <!-- May 2024 -->
            <li> <span>May 2024</span>
                <h5>May Road Map</h5>
                <p>TenderBlocks Mockup & Community Engagement</p>
            </li>
            <!-- June 2024 -->
            <li> <span>June 2024</span>
                <h5>June Road Map</h5>
                <p>TenderBlocks Frontend Development & Community Engagement</p>
            </li>

            <!-- July 2024 -->
            <li> <span>July 2024</span>
                <h5>July Road Map</h5>
                <p>TenderBlocks Backend Development & Community Engagement</p>
            </li>
            <!-- August 2024 -->
            <li> <span>August 2024</span>
                <h5>August Road Map</h5>
                <p>Launch For TenderBlocks & Community Engagement</p>
            </li>
        </ul>
    </div>
</section>