<section class="road-map padding-top-150 padding-bottom-50" id="roadmap">
    <div class="container-fluid">
        <h2>Our Main Road Map</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac,
            cursus sed sapien. Cras posuere ligula ut blandit varius. </p>

        <!-- Road List -->
        <ul class="edu-list margin-top-50">

            <!-- Jan 2018 -->
            <li> <span>January 2018</span>
                <h5>January Road Map Tittle</h5>
                <p>1st Prize for Best Illustration Artist</p>
            </li>
            <!-- Feb 2018 -->
            <li> <span>February 2018</span>
                <h5>February Road Map Tittle</h5>
                <p>1st Prize for Best Illustration Artist</p>
            </li>
            <!-- March 2018 -->
            <li> <span>March 2018</span>
                <h5>March Road Map Tittle</h5>
                <p>Site of The Month</p>
            </li>
            <!-- April 2018 -->
            <li> <span>April 2018</span>
                <h5>April Map Tittle</h5>
                <p>Best CSS Portfolio Website</p>
            </li>

            <!-- March 2018 -->
            <li> <span>May 2018</span>
                <h5>March Road Map Tittle</h5>
                <p>Site of The Month</p>
            </li>
            <!-- April 2018 -->
            <li> <span>June 2018</span>
                <h5>April Map Tittle</h5>
                <p>Best CSS Portfolio Website</p>
            </li>
            <!-- July 2018 -->
            <li> <span>July 2018</span>
                <h5>July Road Map Tittle</h5>
                <p>1st Prize for Best Illustration Artist</p>
            </li>
            <!-- August 2018 -->
            <li> <span>August 2018</span>
                <h5>August Road Map Tittle</h5>
                <p>1st Prize for Best Illustration Artist</p>
            </li>
            <!-- September 2018 -->
            <li> <span>September 2018</span>
                <h5>September Road Map Tittle</h5>
                <p>Site of The Month</p>
            </li>
            <!-- October 2018 -->
            <li> <span>October 2018</span>
                <h5>October Map Tittle</h5>
                <p>Best CSS Portfolio Website</p>
            </li>

            <!-- November 2018 -->
            <li> <span>November 2018</span>
                <h5>November Road Map Tittle</h5>
                <p>Site of The Month</p>
            </li>
            <!-- December 2018 -->
            <li> <span>December 2018</span>
                <h5>December Map Tittle</h5>
                <p>Best CSS Portfolio Website</p>
            </li>
        </ul>
    </div>
</section>