<div class="row">
    <!-- Services -->
    <div class="col-md-4">
        <div class="ib-icon">
            <i class="flaticon-smartphone"></i>
        </div>
        <div class="ib-info">
            <h4 class="h6">Peer-to-Peer</h4>
            <p>Blockchain allows for communication between nodes removing the need for a centralized server</p>
        </div>
    </div>
    <!-- Services -->
    <div class="col-md-4">
        <div class="ib-icon">
            <i class="flaticon-flat-world-map"></i>
        </div>
        <div class="ib-info">
            <h4 class="h6">Borderless Application</h4>
            <p>Build decentralized apps (DApps) on blockchain that operates globally</p>
        </div>
    </div>
    <!-- Services -->
    <div class="col-md-4">
        <div class="ib-icon">
            <i class="flaticon-secure-shield"></i>
        </div>
        <div class="ib-info">
            <h4 class="h6">Immutability</h4>
            <p>Blockchain makes recorded data impossible to altered or deleted ensuring trustworthiness</p>
        </div>
    </div>
    <!-- Services -->
    <div class="col-md-4">
        <div class="ib-icon">
            <i class="flaticon-credit-card"></i>
        </div>
        <div class="ib-info">
            <h4 class="h6">Smart Contract</h4>
            <p>Set the terms of agreement using self-executing contract which removes intermediaries</p>
        </div>
    </div>
    <!-- Services -->
    <div class="col-md-4">
        <div class="ib-icon">
            <i class="flaticon-money-3"></i>
        </div>
        <div class="ib-info">
            <h4 class="h6">Decentralized Ledger</h4>
            <p>Blockchain provides a record-keeping system which is distributed for all parties to see</p>
        </div>
    </div>
    <!-- Services -->
    <div class="col-md-4">
        <div class="ib-icon">
            <i class="flaticon-money"></i>
        </div>
        <div class="ib-info">
            <h4 class="h6">Full Use Case in Agri-Food</h4>
            <p>Trace and authenticate Agri-Food supply chain, from farm to table, ensuring transparency</p>
        </div>
    </div>
</div>
