<div class="row">  
    <!-- Services -->
    <div class="col-md-4">
      <div class="ib-icon"> <i class="flaticon-smartphone"></i> </div>
      <div class="ib-info">
        <h4 class="h6">Peer-to-Peer ...</h4>
        <p>Contrary to popular belief , Lorem Ipsum is not simply random text. It has roots in a piece</p>
      </div>
    </div>
    
    <!-- Services -->
    <div class="col-md-4">
      <div class="ib-icon"> <i class="flaticon-flat-world-map"></i> </div>
      <div class="ib-info">
        <h4 class="h6">Borderless ...</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem not simply random accusantium</p>
      </div>
    </div>
    
    <!-- Services -->
    <div class="col-md-4">
      <div class="ib-icon"> <i class="flaticon-secure-shield"></i> </div>
      <div class="ib-info">
        <h4 class="h6">Fully Protection</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</p>
      </div>
    </div>
    
    <!-- Services -->
    <div class="col-md-4">
      <div class="ib-icon"> <i class="flaticon-credit-card"></i> </div>
      <div class="ib-info">
        <h4 class="h6">Smart ...</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
      </div>
    </div>
    
    <!-- Services -->
    <div class="col-md-4">
      <div class="ib-icon"> <i class="flaticon-wallet"></i> </div>
      <div class="ib-info">
        <h4 class="h6">Secure ...</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</p>
      </div>
    </div>
    
    <!-- Services -->
    <div class="col-md-4">
      <div class="ib-icon"> <i class="flaticon-money"></i> </div>
      <div class="ib-info">
        <h4 class="h6">Easy To buy & Sell</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
      </div>
    </div>
  </div>