<section class="team style-2 padding-top-0 padding-bottom-150" id="team">
    <div class="container">
        <div class="heading text-center">
            <h2>Our Senior Team Leads </h2>
            <p>We are passionate and dedicated to building real solutions in the Blockchain-Agri-Food Nexus</p>
        </div>
        <ul class="team-small">
            <li><img src="{{ static('images/prof_nnamdi_nwulu.jpeg') }}" alt="Prof Nnamdi Nwulu"><a class="hover" href="#.">Prof Nnamdi Nwulu</a></li>
            <li><img src="{{ static('images/dr_tebello_ntsiki_don_athaba.jpg') }}" alt="Dr Tebello Ntsiki Don Athaba" style="height: 219px;"><a class="hover" href="#.">Dr Tebello Ntsiki Don Athaba </a></li>
            <li><img src="{{ static('images/tshabalala_dimakatso.jpeg') }}" alt="Tshabalala Dimakatso"><a class="hover" href="#.">Tshabalala Dimakatso</a></li>
            <li><img src="{{ static('images/timileyin_abiodun.png') }}" alt="Timileyin Abiodun" style="height: 219px;"><a class="hover" href="#.">Timileyin Abiodun</a></li>
        </ul>
    </div>
</section>