<section class="team style-2 padding-top-150 padding-bottom-150" id="team">
    <div class="container">
        <div class="heading text-center">
            <h2>Our Senior Team Leads </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac,
                cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
        </div>
        <ul class="team-small">
            <li><img src="{{ static('images/team.png') }}" alt=""><a class="hover" href="#.">John Doe </a></li>
            <li><img src="{{ static('images/team.png') }}" alt=""><a class="hover" href="#.">John Doe </a></li>
            <li><img src="{{ static('images/team.png') }}" alt=""><a class="hover" href="#.">John Doe </a></li>
            <li><img src="{{ static('images/team.png') }}" alt=""><a class="hover" href="#.">John Doe </a></li>
            <li><img src="{{ static('images/team.png') }}" alt=""><a class="hover" href="#.">John Doe </a></li>
            <li><img src="{{ static('images/team.png') }}" alt=""><a class="hover" href="#.">John Doe </a></li>
            <li><img src="{{ static('images/team.png') }}" alt=""><a class="hover" href="#.">John Doe </a></li>
            <li><img src="{{ static('images/team.png') }}" alt=""><a class="hover" href="#.">John Doe </a></li>
            <li><img src="{{ static('images/team.png') }}" alt=""><a class="hover" href="#.">John Doe </a></li>
            <li><img src="{{ static('images/team.png') }}" alt=""><a class="hover" href="#.">John Doe </a></li>
            <li><img src="{{ static('images/team.png') }}" alt=""><a class="hover" href="#.">John Doe </a></li>
            <li><img src="{{ static('images/team.png') }}" alt=""><a class="hover" href="#.">John Doe </a></li>
        </ul>
    </div>
</section>