<section class="event" id="event">
    <!-- Right Background -->
    <div class="main-page-section half_left_layout">
        <div class="main-half-layout-container half_right_layout">
            <img src="{{upcoming_event.image.url}}" alt="event flyer" style="margin-bottom: -140px;">
        </div>
        <!-- Left Content -->
        <div class="main-half-layout-container half_right_layout">
            <div class="about-us-con">
                <h3>Upcoming Event</h3>
                <p style="margin-top: 20px;">
                    {{upcoming_event.event_info|replace("\n", "<br />")|safe}}
                </p>
                <ul class="count-info row">
                    <li class="col">
                        <span>{{ upcoming_event.event_date|event_dateformat}}</span>
                        <p>Event Date</p>
                    </li>
                    <li class="col">
                        {% now "d" as current_day %}
                        <span>{{upcoming_event.event_date.day - current_day|int}}</span><span style="font-size: 12px;">Days</span>
                        <p>Countdown</p>
                    </li>
                </ul>
                {% set target_external = upcoming_event.link_type == 'External' %}
                <a href="{{upcoming_event.event_website}}" class="btn" {% if target_external %}target="_blank"{% endif %}>Event Info</a> <a
                    href="{{upcoming_event.registration_link}}" class="btn btn-inverse"
                    {% if target_external %}target="_blank"{% endif %}>Registration Link</a>
            </div>
        </div>
    </div>
</section>