{# extend template #}
{% extends 'base.html' %}

<!-- Content -->
{% block content %}
  <div id="content">
    <!-- Why Choose Us -->
    <section class="why-choose padding-top-100 padding-bottom-150" id="about">
      <div class="container">

        <!-- Why Choose Us  ROW-->
        <div class="row">
          <div class="col-md-7 margin-top-60">

            <!-- Tittle -->
            <div class="heading margin-bottom-20">
              <h6 class="margin-bottom-10">The world’s only enterprise blockchain solution for global payments</h6>
              <h4>Best Blockchain &amp; Better Than Any Blockchain</h4>
            </div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
              atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
              sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            <p>Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
              dolorum fuga.</p>
            <div class="ultra-ser"> <span><span class="name"> Webicode &nbsp; - &nbsp;</span> <span>Ceo/Founder
                  Chain</span></span> </div>
            <a class="vid-btn margin-top-30 popup-youtube" href="https://www.youtube.com/watch?v=7e90gBu4pas"><i
                class="fas fa-play-circle"></i> Watch Video <br>
              <span>How it work</span></a>
          </div>

          <!-- Image -->
          <div class="col-md-5 text-right"> <img src="images/main-logo.png" alt="Why Choose Us Image" id="logo-img">
          </div>
        </div>

        <!-- Services ROW -->
        <div class="row">

          <!-- Services -->
          <div class="col-md-4">
            <div class="ib-icon"> <i class="flaticon-smartphone"></i> </div>
            <div class="ib-info">
              <h4 class="h6">Peer-to-Peer Transactions</h4>
              <p>Contrary to popular belief , Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>
          </div>

          <!-- Services -->
          <div class="col-md-4">
            <div class="ib-icon"> <i class="flaticon-flat-world-map"></i> </div>
            <div class="ib-info">
              <h4 class="h6">Borderless Payments</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem not simply random accusantium</p>
            </div>
          </div>

          <!-- Services -->
          <div class="col-md-4">
            <div class="ib-icon"> <i class="flaticon-secure-shield"></i> </div>
            <div class="ib-info">
              <h4 class="h6">Fully Protection</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>
          </div>

          <!-- Services -->
          <div class="col-md-4">
            <div class="ib-icon"> <i class="flaticon-credit-card"></i> </div>
            <div class="ib-info">
              <h4 class="h6">Smart Money</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
            </div>
          </div>

          <!-- Services -->
          <div class="col-md-4">
            <div class="ib-icon"> <i class="flaticon-wallet"></i> </div>
            <div class="ib-info">
              <h4 class="h6">Secure Wallet</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>
          </div>

          <!-- Services -->
          <div class="col-md-4">
            <div class="ib-icon"> <i class="flaticon-money"></i> </div>
            <div class="ib-info">
              <h4 class="h6">Easy To buy & Sell</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Project Distribution -->
    <section class="distri drk padding-top-150 padding-bottom-150 " id="token">
      <div class="container">
        <div class="row">

          <!-- Token  -->
          <div class="col-lg-7">
            <h3>Token Distribution</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac,
              cursus sed sapien. Cras posuere ligula ut blandit varius.</p>

            <!-- Progress -->
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="150"><span>9,000,000 <small>50%</small></span> </div>
            </div>
            <div class="row">
              <div class="col">
                <h6> Now Distribution</h6>
                <span>...</span>
              </div>
              <div class="col">
                <h6> 99,910</h6>
                <span>...</span>
              </div>
              <div class="col">
                <h6> 99,910</h6>
                <span>...</span>
              </div>
            </div>

            <!-- CountdownEnd -->
            <div class="countdown">
              <h6>Current Distribution Section End 150/350</h6>
              <!-- Countdown-->
              <ul class="row">
                <!-- Days -->
                <li class="col-md-3">
                  <article> <span class="days">00</span>
                    <p class="days_ref">Days</p>
                  </article>
                </li>
                <!-- Hours -->
                <li class="col-md-3">
                  <article> <span class="hours">00</span>
                    <p class="hours_ref">Hours</p>
                  </article>
                </li>
                <!-- Mintes -->
                <li class="col-md-3">
                  <article><span class="minutes">00</span>
                    <p class="minutes_ref">Minutes</p>
                  </article>
                </li>
                <!-- Seconds -->
                <li class="col-md-3">
                  <article><span class="seconds">00</span>
                    <p class="seconds_ref">Seconds</p>
                  </article>
                </li>
              </ul>
            </div>
          </div>

          <!-- Total Distribution -->
          <div class="col-lg-5">
            <h3>Total Distribution Section End <b>350/350</b></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="countdown-all">

              <!-- Countdown -->
              <ul class="row">
                <!-- Days -->
                <li class="col-md-3">
                  <article> <span class="days">00</span>
                    <p class="days_ref">Days</p>
                  </article>
                </li>
                <!-- Hours -->
                <li class="col-md-3">
                  <article> <span class="hours">00</span>
                    <p class="hours_ref">Hours</p>
                  </article>
                </li>
                <!-- Mintes -->
                <li class="col-md-3">
                  <article><span class="minutes">00</span>
                    <p class="minutes_ref">Minutes</p>
                  </article>
                </li>
                <!-- Seconds -->
                <li class="col-md-3">
                  <article><span class="seconds">00</span>
                    <p class="seconds_ref">Seconds</p>
                  </article>
                </li>
              </ul>
              <a href="#." class="btn">Join Us</a> <a href="#." class="btn btn-inverse">Buy Now</a>

              <!-- Buy Option -->
              <div class="card-info"> <i class="fab  fa-bitcoin"></i> <i class="fab  fa-cc-discover"></i> <i
                  class="fab  fa-cc-visa"></i> <i class="fab  fa-cc-mastercard"></i> </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Development -->
    <section class="dev-activ text-center padding-top-150 padding-bottom-150" id="activity">
      <div class="container">
        <div class="sm-intro">
          <h2>Development Activity</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac,
            cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
        </div>
        <ul class="row margin-top-50 margin-bottom-50">
          <li class="col"> <i class="flaticon-rotate"></i> <span><span class="counter">4</span> hrs Ago</span>
            <p>Last Update</p>
          </li>
          <li class="col"><i class="flaticon-building"></i> <span><span class="counter">10</span> Days Ago</span>
            <p>Last Block Found</p>
          </li>
          <li class="col"><i class="flaticon-money-1"></i> <span><span class="counter">45057</span>+</span>
            <p>Contributions</p>
          </li>
          <li class="col"><i class="flaticon-team"></i> <span class="counter">80</span>
            <p>Team Members</p>
          </li>
        </ul>
        <a href="#." class="btn">Start on GitHub</a> <a href="#." class="btn btn-inverse">White Paper</a>
      </div>
    </section>

    <!-- ABOUT -->
    <section class="about light-bg">
      <!-- Right Background -->
      <div class="main-page-section half_left_layout">
        <div class="main-half-layout half_right_layout"> </div>

        <!-- Left Content -->
        <div class="main-half-layout-container half_right_layout">
          <div class="about-us-con">
            <h3>Growing Global Network</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac,
              cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
            <ul class="count-info row">
              <li class="col"> <span class="counter">5000</span><span>+</span>
                <p>Customers</p>
              </li>
              <li class="col"> <span class="counter">750</span><span>+</span>
                <p>Deploying</p>
              </li>
            </ul>
            <a href="#." class="btn">White Paper</a> <a href="#." class="btn btn-inverse">Find an Exchange</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Road Map -->
    <section class="road-map padding-top-150 padding-bottom-50" id="roadmap">
      <div class="container-fluid">
        <h2>Our Main Road Map</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac,
          cursus sed sapien. Cras posuere ligula ut blandit varius. </p>

        <!-- Road List -->
        <ul class="edu-list margin-top-50">

          <!-- Jan 2018 -->
          <li> <span>January 2018</span>
            <h5>January Road Map</h5>
            <p>1st Prize for Best Illustration Artist</p>
          </li>
          <!-- Feb 2018 -->
          <li> <span>February 2018</span>
            <h5>February Road Map</h5>
            <p>1st Prize for Best Illustration Artist</p>
          </li>
          <!-- March 2018 -->
          <li> <span>March 2018</span>
            <h5>March Road Map</h5>
            <p>Site of The Month</p>
          </li>
          <!-- April 2018 -->
          <li> <span>April 2018</span>
            <h5>April Map Tittle</h5>
            <p>Best CSS Portfolio Website</p>
          </li>

          <!-- March 2018 -->
          <li> <span>May 2018</span>
            <h5>March Road Map</h5>
            <p>Site of The Month</p>
          </li>
          <!-- April 2018 -->
          <li> <span>June 2018</span>
            <h5>April Map Tittle</h5>
            <p>Best CSS Portfolio Website</p>
          </li>
          <!-- July 2018 -->
          <li> <span>July 2018</span>
            <h5>July Road Map</h5>
            <p>1st Prize for Best Illustration Artist</p>
          </li>
          <!-- August 2018 -->
          <li> <span>August 2018</span>
            <h5>August Road Map</h5>
            <p>1st Prize for Best Illustration Artist</p>
          </li>
          <!-- September 2018 -->
          <li> <span>September 2018</span>
            <h5>September Road Map</h5>
            <p>Site of The Month</p>
          </li>
          <!-- October 2018 -->
          <li> <span>October 2018</span>
            <h5>October Map Tittle</h5>
            <p>Best CSS Portfolio Website</p>
          </li>

          <!-- November 2018 -->
          <li> <span>November 2018</span>
            <h5>November Road Map</h5>
            <p>Site of The Month</p>
          </li>
          <!-- December 2018 -->
          <li> <span>December 2018</span>
            <h5>December Map Tittle</h5>
            <p>Best CSS Portfolio Website</p>
          </li>
        </ul>
      </div>
    </section>

    <!-- Team Members -->
    <section class="team style-2 padding-top-0 padding-bottom-150" id="team">
      <div class="container">
        <div class="heading text-center">
          <h2>Our Senior Team Leads </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac,
            cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
        </div>
        <ul class="team-small">
          <li><img src="images/team.png" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img src="images/team.png" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img src="images/team.png" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img src="images/team.png" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img src="images/team.png" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img src="images/team.png" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img src="images/team.png" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img src="images/team.png" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img src="images/team.png" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img src="images/team.png" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img src="images/team.png" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img src="images/team.png" alt=""><a class="hover" href="#.">John Doe </a></li>
        </ul>
        <!-- <ul class="team-small">
          <li><img  src="images/team-img-1.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img  src="images/team-img-2.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img  src="images/team-img-3.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img  src="images/team-img-4.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img  src="images/team-img-5.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img  src="images/team-img-6.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img  src="images/team-img-7.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img  src="images/team-img-8.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img  src="images/team-img-9.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img  src="images/team-img-10.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img  src="images/team-img-1.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
          <li><img  src="images/team-img-2.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
        </ul> -->
      </div>
    </section>

    <!-- Team Members -->
    <section class="light-bg padding-top-150 padding-bottom-150" id="team">
      <div class="container">
        <div class="heading text-center">
          <h2>Frequently asked questions</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac,
            cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
        </div>
        <!-- FAQS -->
        <div class="row">
          <div class="col-md-6">

            <!-- According Style 1 -->
            <div class="panel-group accordion" id="accordion">

              <!-- According 1 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                      class="collapsed"> What is .. ?</a> </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maecenas nibh dolor, efficitur eget pharetra ac, cursus sed sapien. Cras posuere ligula ut blandit
                    varius. </div>
                </div>
              </div>

              <!-- According 2 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                      class="collapsed"> Why The Best ... BlockChain</a> </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some </div>
                </div>
              </div>

              <!-- According 3 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                      class="collapsed"> What is ICO Blockchain</a> </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some </div>
                </div>
              </div>

              <!-- According 4 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour"
                      class="collapsed"> Best ... in this world</a> </h4>
                </div>
                <div id="collapsefour" class="panel-collapse collapse">
                  <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <!-- According Style 1 -->
            <div class="panel-group accordion" id="accordion">

              <!-- According 1 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-1"
                      class="collapsed"> Our Mission</a> </h4>
                </div>
                <div id="collapseOne-1" class="panel-collapse collapse">
                  <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some </div>
                </div>
              </div>

              <!-- According 2 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-1"
                      class="collapsed"> Our Services</a> </h4>
                </div>
                <div id="collapseTwo-1" class="panel-collapse collapse">
                  <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some </div>
                </div>
              </div>

              <!-- According 3 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree-1"
                      class="collapsed"> Block Chain Into</a> </h4>
                </div>
                <div id="collapseThree-1" class="panel-collapse collapse">
                  <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some </div>
                </div>
              </div>

              <!-- According 4 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour-1"
                      class="collapsed"> ... FAQS</a> </h4>
                </div>
                <div id="collapsefour-1" class="panel-collapse collapse">
                  <div class="panel-body"> There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Join our community -->
    <section class="community-sec padding-top-150 padding-bottom-150">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="sm-intro">
              <h2>Join our community</h2>
              <ul class="socials">
                <li><a href="#."><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#."><i class="fab fa-twitter"></i></a></li>
                <li><a href="#."><i class="fab fa-github"></i></a></li>
                <li><a href="#."><i class="fab fa-telegram"></i></a></li>
                <li><a href="#."><i class="fab fa-gitter"></i></a></li>
                <li><a href="#."><i class="fab fa-instagram"></i></a></li>
                <li><a href="#."><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#."><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="news-letter">
              <h2>Subscribe to our newsletter</h2>
              <form>
                <input type="email" placeholder="Enter your email address" required>
                <button type="submit">SEND</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}