{# extend template #}
{% extends 'base.html' %}
{# add extra style #}
{% block extraStyle %}
    <style>
    .image_resize{
      height: 219px;
    }
    </style>
{% endblock extraStyle %}
<!-- Content -->
{% block content %}
  <div id="content">
      <!-- Why Choose Us -->
      <section class="why-choose padding-top-100 padding-bottom-150" id="about">
          <div class="container">
              <!-- Why Choose Us  ROW-->
              {% include "partials/pages/__choice.html" %}
              <!-- Services ROW -->
              {% include "partials/pages/__services.html" %}
          </div>
      </section>
      <!-- Project Distribution -->
      {% include 'partials/pages/__projects.html' with context %}
      <!-- Development -->
      {% include 'partials/pages/__development.html' %}
      <!-- Project Overview -->
      {% include 'partials/pages/__about.html' %}
      <!-- Road Map -->
      {% include 'partials/pages/__roadmaps.html' %}
      <!-- Team Members -->
      {% include 'partials/pages/__team.html' %}
      <!-- FAQ -->
      {% include 'partials/pages/__faq.html' %}
      <!-- Join our community -->
      {% include 'partials/pages/__community.html' %}
  </div>
{% endblock content %}
{# external scripts from pages #}
{% block extraScript %}
  <!-- timer for distribution completion -->
  <script>
    // set timer end date 
    let timerDate = new Date("{{project.current_stage_section_end_time|dateformat}} 11:59:59").getTime();
    
    // set update to every second
    setInterval(function() {
    
      // Get current date and time
      let currentDate = new Date().getTime();
    
      // Find the time difference between current date and the timer date
      let distance = timerDate - currentDate;
    
      // get calculations for days, hours, minutes and seconds
      let days = Math.floor(distance / (1000 * 60 * 60 * 24));
      let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      let seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      // Display the result in the element with id="demo"
      document.querySelector(".countdown .days").textContent = days;
      document.querySelector(".countdown .hours").textContent = hours;
      document.querySelector(".countdown .minutes").textContent = minutes;
      document.querySelector(".countdown .seconds").textContent = seconds;
    
      // If the count down is finished, write some text
      if (distance < 0) {
        document.querySelector(".countdown .days").textContent = 0;
        document.querySelector(".countdown .hours").textContent = 0;
        document.querySelector(".countdown .minutes").textContent = 0;
        document.querySelector(".countdown .seconds").textContent = 0;
      }
    }, 1000);
  </script>
    <!-- timer for projection completion -->
  <script>
    // set timer end date 
    let timerDateProject = new Date("{{project.project_end_time|dateformat}} 11:59:59").getTime();
    
    // set update to every second
    setInterval(function() {
    
      // Get current date and time
      let currentDate = new Date().getTime();
    
      // Find the time difference between current date and the timer date
      let distance = timerDateProject - currentDate;
    
      // get calculations for days, hours, minutes and seconds
      let days = Math.floor(distance / (1000 * 60 * 60 * 24));
      let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      let seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      // Display the result in the element with id="demo"
      document.querySelector(".countdown-all .days").textContent = days;
      document.querySelector(".countdown-all .hours").textContent = hours;
      document.querySelector(".countdown-all .minutes").textContent = minutes;
      document.querySelector(".countdown-all .seconds").textContent = seconds;
    
      // If the count down is finished, write some text
      if (distance < 0) {
        document.querySelector(".countdown-all .days").textContent = 0;
        document.querySelector(".countdown-all .hours").textContent = 0;
        document.querySelector(".countdown-all .minutes").textContent = 0;
        document.querySelector(".countdown-all .seconds").textContent = 0;
      }
    }, 1000);
  </script>
  <script>
    // control message show interval
    setInterval(() => {
      messages = document.querySelectorAll('.form_message')

      Array.from(messages).forEach((message)=>{
        //check message exist
        if(message){
          message.style.display = 'none';
        }
      })
      
    }, 5000)
  </script>
{% endblock extraScript %}
